.about-us
    &--title
        margin-top: 3rem
        margin-bottom: 2rem
    
    &--main-content
        position: absolute
        z-index: 100

        p
            width: 50%
            margin: 0 auto
            margin-bottom: 2rem

        a
            font-family: $raleway
            font-size: 16px
            color: $white

            &:hover
                text-decoration: none

        &--buttons
            &--make-res
                float: right

            &--location
                float: left