.contact-us 
    position: absolute
    left: 50%
    transform: translateX(-50%)
    h1
        margin-top: 5rem

    label
        height: 100%
        width: 50%

    .submit-form-button
        background-color: $white
        color: $dark-blue-transparent
        position: absolute
        top: 140%
        left: 50%
        transform: translateX(-50%)
        transform-origin: -50%
        &:hover
            text-decoration: none
    form
        width: 50% 
        margin: 0 auto
        margin-top: 3rem
    .form-group
        margin-bottom: 0.5rem
