.App {
  height: 100vh;
  background: url('./img/main-bg.jpg');
  background-size: cover;
}


.logo {
  width: 215px;
}

.logo-and-menu{
  position: relative;
  z-index: 100;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {

  display: inline-block;
  padding: 0 2rem 0 2rem;

}

.nav-links li a {
  color: #111;
  text-decoration: none;
}

.svg-shape{
  position: absolute;
  top: 0;
  height: 100vh;
}

.svg-shape svg {
  height: 100%;
  z-index: 1;
}